@model EconomiMM.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="orderNumber" class="control-label"></label>
                <input asp-for="orderNumber" class="form-control" />
                <span asp-validation-for="orderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="temperature" class="control-label"></label>
                <input asp-for="temperature" class="form-control" />
                <span asp-validation-for="temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jointShape" class="control-label"></label>
                <select asp-for="jointShape" class="form-control"></select>
                <span asp-validation-for="jointShape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jointType" class="control-label"></label>
                <select asp-for="jointType" class="form-control"></select>
                <span asp-validation-for="jointType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="withLiner" /> @Html.DisplayNameFor(model => model.withLiner)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="mainPartLength1" class="control-label"></label>
                <input asp-for="mainPartLength1" class="form-control" />
                <span asp-validation-for="mainPartLength1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mainPartDiameter" class="control-label"></label>
                <input asp-for="mainPartDiameter" class="form-control" />
                <span asp-validation-for="mainPartDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mainPartLength2" class="control-label"></label>
                <input asp-for="mainPartLength2" class="form-control" />
                <span asp-validation-for="mainPartLength2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mainPartWidth" class="control-label"></label>
                <input asp-for="mainPartWidth" class="form-control" />
                <span asp-validation-for="mainPartWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="flangeWidth" class="control-label"></label>
                <input asp-for="flangeWidth" class="form-control" />
                <span asp-validation-for="flangeWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="koef" class="control-label"></label>
                <input asp-for="koef" class="form-control" />
                <span asp-validation-for="koef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siliconeTubes" class="control-label"></label>
                <input asp-for="siliconeTubes" class="form-control" />
                <span asp-validation-for="siliconeTubes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linerPartLength" class="control-label"></label>
                <input asp-for="linerPartLength" class="form-control" />
                <span asp-validation-for="linerPartLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linerPartHeight" class="control-label"></label>
                <input asp-for="linerPartHeight" class="form-control" />
                <span asp-validation-for="linerPartHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linerPartWidth" class="control-label"></label>
                <input asp-for="linerPartWidth" class="form-control" />
                <span asp-validation-for="linerPartWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linerPartBindingWidth" class="control-label"></label>
                <input asp-for="linerPartBindingWidth" class="form-control" />
                <span asp-validation-for="linerPartBindingWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mainPartWorkPrice" class="control-label"></label>
                <input asp-for="mainPartWorkPrice" class="form-control" />
                <span asp-validation-for="mainPartWorkPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linerPartWorkPrice" class="control-label"></label>
                <input asp-for="linerPartWorkPrice" class="form-control" />
                <span asp-validation-for="linerPartWorkPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
