html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.material-table {
    text-align: center;
}

.color-cell {
    display: flex;
}

.size-cell {
    word-wrap: break-word;
    max-width: 90px;
}

.add-new-item {
    float: right;
}

th {
    cursor: pointer;
}

.modal-backdrop.in {
    opacity: 0.0 !important;
}

.filter-button {
    padding: 0;
}

.filter-icon {
    width: 20px;
    height: 20px;
}

.size-input {
    font-size: 70% !important;
    width: 250px;
    height: 27px;
}

.copy-btn {
    height: 35px;
    width: 45px;
}

div.scroll-main-window {
    padding: 4px;
    width: 500px;
    height: 150px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

div.scroll-modal-window {
    padding: 4px;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.sold-tr {
    background-color: #f0646485;
}

.joint-material-window, .flange-material-window, .liner-material-window {
    width: 500px;
    position: relative;
}

.add-material-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

a {
    text-decoration: none
}

.layer-count {
    margin: 3px;
    width: 30px;
    height: 25px;
}

.selected-material {
    position: relative;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.modal-dialog {
    max-width: 700px;
    min-width: 400px;
    width: auto;
    margin: 1.75rem auto;
}


.total-price {
    max-width: 200px;
}

.dot-color-show {
    margin: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    padding-left: 5px;
}

.round-koef-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 22px;
    border: 1px solid #343030;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.round-add-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 22px;
    border: 1px solid #343030;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.round-select-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 22px;
    border: 1px solid #343030;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.round-select-button.selected {
    border: 3px solid #0026ff;
}

.modal-position {
    position: absolute;
    top: 400px;
    left: 300px;
}

.round-delete-button .minus-icon,
.round-delete-button .check-icon {
    display: block;
    width: 15px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.round-delete-button .minus-icon {
    display: none;
}

.round-delete-button:hover .check-icon {
    display: none;
}

.round-delete-button:hover .minus-icon {
    display: block;
}




.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.koef-info{
    margin-top: 405px;

}