@model EconomiMM.Models.Material

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Назва</label>
                <select id="name-select" asp-for="Name" class="form-control form-select" >
                </select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label">Товщина</label>
                <input asp-for="Thickness" class="form-control" />
                <span asp-validation-for="Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Розміри</label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reserved" class="control-label">Зарезервовано</label>
                <input asp-for="Reserved" class="form-control" />
                <span asp-validation-for="Reserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Кількість на складі</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Ціна</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold" class="control-label">Продано</label>
                <input asp-for="Sold" class="form-control" />
                <span asp-validation-for="Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/materialHub").build();

        connection.start().then(function () {
            console.log('connected to hub');
            connection.invoke("GetAllMaterialTypes").catch(function (err) {
                return console.error(err.toString());
            })
        }).catch(function (err) {
            return console.error(err.toString());
        });



        connection.on("RecievedMaterialTypeInfo", function (materialTypeDB) {
            console.log("out");


            materialTypeDB.forEach(function (materialType) {
                var option = $('<option>', {
                    value: materialType['name'],
                    text: materialType['name']
                });

                if (materialType['name'] === '@Model.Name') {
                    option.attr('selected', 'selected');
                }

                $('#name-select').append(option);

                

                
            });

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
