@model EconomiMM.ViewModels.CalculatorViewModel
@{
    ViewData["Title"] = "Калькулятор";
}

<div class="d-flex flex-row">
    <div id="setting-selection">
        <div class="p-4">
            <div class="d-flex flex-row mb-3 ms-4">
                <div class="input-group input-group-sm ms-2 size-input">

                    <span class="input-group-text">Номер замовлення</span>
                    <input id="order-number" type="text" class="form-control " aria-describedby="inputGroup-sizing-sm">

                </div>
                <div class="input-group input-group-sm size-input">

                    <span class="input-group-text">Температура</span>
                    <input id="order-temperature" type="text" class="form-control " aria-describedby="inputGroup-sizing-sm">
                    <span class="input-group-text" id="inputGroup-sizing-sm">C°</span>
                </div>
            </div>
            <h5> Форма</h5>
            <div class="d-flex flex-row mx-4">
                <div class="mx-2">
                    <div class="my-2">
                        <input class="form-check-input" type="radio" name="shapeRadioGroup" id="roundRadio" value="0">
                        <label class="form-check-label" for="round"> Круглий</label>
                    </div>
                    <div class="my-2">
                        <input class="form-check-input" type="radio" name="shapeRadioGroup" id="rectangularRadio" value="1">
                        <label class="form-check-label" for="rectangular"> Прямокутний</label>
                    </div>
                </div>
                <div class="ms-5">
                    <div class="my-2">
                        <input class="form-check-input" type="radio" name="typeRadioGroup" id="flangeRadio" value="0">
                        <label class="form-check-label" for="flange"> Фланцевий</label>
                    </div>
                    <div class="my-2">
                        <input class="form-check-input" type="radio" name="typeRadioGroup" id="tapeRadio" value="1">
                        <label class="form-check-label" for="tape"> Стрічковий</label>
                    </div>
                </div>
                <div class="ms-5">
                    <div id="liner-checking" class="mt-4 disabled">
                        <input type="checkbox" id="linerCheckbox" name="liner" />
                        <label for="liner"> Вкладиш</label>
                    </div>
                </div>
            </div>
            <h5> Розмір основної частини</h5>
            <div class="d-flex flex-row mx-4">

                <div class="mx-2">
                    <div class="input-group input-group-sm mb-3 size-input">

                        <span id="changable-span" class="input-group-text">Довжина 1</span>
                        <input id="joint-length1" type="text" class="form-control">
                        <span class="input-group-text">мм</span>
                    </div>
                    <div class="input-group input-group-sm mb-3 size-input">
                        <span class="input-group-text">Ширина</span>
                        <input id="joint-width" type="text" class="form-control">
                        <span class="input-group-text">мм</span>
                    </div>
                </div>

                <div class="rectangle-sizes d-flex flex-row">
                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-secondary copy-btn">-></button>
                    </div>

                    <div class="mx-2">
                        <div class="input-group input-group-sm mb-3 size-input">
                            <span class="input-group-text">Довжина 2 </span>
                            <input id="joint-length2" type="text" class="form-control">
                            <span class="input-group-text">мм</span>
                        </div>
                    </div>
                </div>
            </div>
            <h5> Розмір фланця</h5>
            <div class="d-flex flex-row mx-4">

                <div class="mx-2">
                    <div class="input-group input-group-sm mb-3 size-input">
                        <span class="input-group-text">Ширина</span>
                        <input id="flange-width" type="text" class="form-control">
                        <span class="input-group-text">мм</span>
                    </div>
                </div>

                <div>
                    <div class="mx-2">
                        <div class="input-group input-group-sm mb-3 size-input">
                            <span class="input-group-text">Коэфіцієнт</span>
                            <input id="koef" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="input-group input-group-sm mb-3 size-input">
                            <span class="input-group-text">Силікон</span>
                            <input id="silicone" type="text" class="form-control" />
                            <span class="input-group-text">шт</span>
                        </div>
                    </div>
                </div>

            </div>
            <h5>Робота за основну частину</h5>
            <div class="mx-4 size-input">
                <div class="input-group input-group-sm m-2 size-input">

                    <input id="main-part-price" type="text" class="form-control">
                    <span class="input-group-text">грн</span>
                </div>
            </div>
        </div>



        <div class="addition disabled p-4">
            <h5> Розміри вкладиша</h5>
            <div class="d-flex flex-row mx-4">

                <div class="mx-2">
                    <div class="input-group input-group-sm mb-3 size-input">

                        <span class="input-group-text">Довжина 1</span>
                        <input id="liner-length1" type="text" class="form-control">
                        <span class="input-group-text" id="inputGroup-sizing-sm">мм</span>
                    </div>
                    <div class="input-group input-group-sm mb-3 size-input">
                        <span class="input-group-text">Ширина</span>
                        <input id="liner-width" type="text" class="form-control">
                        <span class="input-group-text" id="inputGroup-sizing-sm">мм</span>
                    </div>
                </div>

                <div class="">


                    <div class="mx-2">
                        <div class="input-group input-group-sm mb-3 size-input">
                            <span class="input-group-text">Висота </span>
                            <input id="liner-height" type="text" class="form-control">
                            <span class="input-group-text" id="inputGroup-sizing-sm">мм</span>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="input-group input-group-sm mb-3 size-input">
                            <span class="input-group-text">Ширина кріплення</span>
                            <input id="liner-binding-width" type="text" class="form-control">
                            <span class="input-group-text" id="inputGroup-sizing-sm">мм</span>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Робота за вкладиш</h5>
            <div class="mx-4 size-input">
                <div class="input-group input-group-sm m-2 size-input">

                    <input id="liner-price" type="text" class="form-control">
                    <span class="input-group-text">грн</span>
                </div>
            </div>
        </div>
    </div>

    <div class="material-selection ">
        <div>
            <a asp-action="MaterialEditor" class="btn btn-primary my-4">Редактор Матеріалів</a>
            <a asp-controller="Products " asp-action="Index" class="btn btn-primary my-4">Збережені</a>
            
            <partial name="_JointMaterialTree" render="true" />

            <br />
            <partial name="_FlangeMaterialTree" render="true" />

            <br />
            <partial name="_LinerMaterialTree" render="true" />

        </div>
        
        <div class="d-flex flex-row m-2">
            
            
            <div class="input-group total-price m-1 mt-4">

                <input type="text" class="form-control total-price-input">
                <span class="input-group-text">Грн.</span>
            </div>
            <div class="m-1 mt-4">
                <button type="button" class="calc-btn btn btn-success">Вирахувати</button>
            </div>
            <div class="m-1 mt-4">
                <button type="button" class="download-btn btn btn-secondary" data-bs-toggle="modal" data-bs-target="#download-Modal">Скачати</button>
            </div>
            <div class="m-1 mt-4">
                <button type="button" class="save-btn btn btn-secondary">Зберегти</button>
            </div>
        </div>
    </div>



</div>



<div class="modal" id="download-Modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Упс..</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Назад"></button>
            </div>

            <div class="modal-body">
                <h5 class="control-label">Ще в розробці</h5>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                <button id="download-button" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#download-Modal">Підтвердити</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/calculator.js" asp-append-version="true"></script>
}