@{
}

<div "container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
            <div class="m-2">
                <a asp-controller="ExpansionJointMaterials" asp-action="Index" class="btn btn-secondary">Матеріали основної частини</a>
            </div>
            <div class="m-2">
                <a asp-controller="FlangeMaterials" asp-action="Index" class="btn btn-secondary">Матеріали фланцю</a>
            </div>
            <div class="m-2">
                <a asp-controller="LinerExpansionJointMaterials" asp-action="Index" class="btn btn-secondary">Матеріали вкладишу</a>
            </div>
        </div>
    </div>
</div>